@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
	width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
	background: var(--second-main-color);
	border-radius: 5rem;
}

body {
	background: #f8f9fc;
	overflow-x: hidden;
}

section {
	padding: 3rem 9%;
}

.heading {
	text-align: center;
	margin-bottom: 2rem;
}

.heading span {
	color: var(--second-main-color);
	font-size: 2.5rem;
}

.heading h1 {
	font-size: 3rem;
	color: #000;
}

.header nav a:hover,
.header nav a.active {
	border-bottom: 1px solid var(--bg-color);
}

.btn {
	display: inline-block;
	padding: 1rem 3rem;
	margin-top: 0;
	font-size: 1.7rem;
	color: var(--second-main-color);
	border: 0.2rem solid var(--second-main-color);
	border-radius: 5rem;
	cursor: pointer;
	background: none;
}

.btn:hover {
	background: var(--second-main-color);
	color: #000;
}

/*-----header-----*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1100;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.5rem 9%;
	box-shadow: 0 1px 6px 0 rgba(32 32 36 / 28%);
	transition: .1s;
}

.header.sticky {
	background: #fff;
}

.header .navbar a {
	font-size: 1.7rem;
	color: #3d3d3d;
	display: inline-block;
	margin: 0 1rem;
}

.header .navbar a:hover,
.header .navbar a.active {
	color: var(--second-main-color);
}

.logo {
	font-size: 2.5rem;
	color: #000;
	font-weight: bolder;
}

.logo i {
	color: var(--second-main-color);
	padding-right: .5rem;
}

.logo span {
	color: var(--second-main-color);
}

#menu-btn {
	font-size: 2.5rem;
	color: #000;
	cursor: pointer;
	display: none;
}

.home {
	margin: auto;
	margin-top: 85px;
	width: 95%;
	border-radius: 1rem;
	background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url('astitik.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 86vh;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 5rem;
}

.one {
	display: inline-block;
	margin-right: 15px;
	padding: 0 15px;
	line-height: 40px;
	font-size: 30px;
	font-weight: 500;
	box-shadow: 0 0 10px var(--second-main-color);
	border-radius: 5px;
	background: var(--second-main-color);
	color: var(--text-color);
}

.two {
	display: inline-block;
	color: var(--text-color);
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 20px;
}

.home-text {
	max-width: 60rem;
}

.home-text .text-animate {
	position: relative;
	width: 32.rem;
}

.home-text .text-animate h1 {
	font-size: 5.3rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: .8px var(--second-main-color);
	background-image: linear-gradient(var(--second-main-color), var(--second-main-color));
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	background-position: -60rem 0;
	animation: homeBgText 6s linear infinite;
	animation-delay: 2s;
}

.home-text .text-animate h1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-right: 3px solid var(--second-main-color);
	z-index: -1;
	animation: homeCursorText 6s linear infinite;
	animation-delay: 2s;
}

.home-text h3 {
	font-size: 3.3rem;
	font-weight: 700;
	color: var(--text-color);
}

.text-animate span {
	color: var(--second-main-color);
}

.home-text p {
	color: var(--text-color);
	font-size: 1.5rem;
	line-height: 1.8;
	margin-bottom: 40px;
}
.btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 50.5rem;
	height: 6rem;
}

.btn-box .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 70%;
	background: var(--main-color);
	border: .3rem solid var(--second-main-color);
	border-radius: .8rem;
	font-size: 1.7rem;
	background: transparent;
	font-weight: 600;
	letter-spacing: .1rem;
	color: var(--text-color);
	box-shadow: 0 0 8px var(--second-main-color);
	z-index: 1;
	transition: .5s;
	overflow: hidden;
	bottom: 30px;
}

.btn-box .btn:hover {
	color: var(--second-main-color);
	box-shadow: 0 0 20px var(--second-main-color);
}

.btn-box .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--bg-color);
	z-index: -1;
	transition: .3s;
}

.btn-box .btn:hover::before {
	width: 100%;
} 

:root{
	--bg-color: #1f242d;
	--second-bg-color: #323946;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #05b4ff;
	--second-main-color: #0ef;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

@keyframes homeBgText {

	0%,
	10%,
	100% {
		background-position: -60rem 0;
	}

	40%,
	90% {
		background-position: 0 0;
	}
}

@keyframes homeCursorText {

	0%,
	10%,
	100% {
		width: 0;
	}

	35%,
	60%,
	91% {
		width: 84%;
		opacity: 1;
	}

	75%,
	81% {
		opacity: 0;
	}
}

.home-sci {
	position: absolute;
	bottom: 12rem;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.home-sci a{
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: .2rem solid var(--second-main-color);
	border-radius: 50%;
	font-size: 20px;
	color: var(--second-main-color);
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.home-sci a:hover {
	color: var(--bg-color);
}

.home-sci a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--second-main-color);
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover::before {
	width: 100%;

}

.book-form {
	width: 80%;
	margin: 1rem auto;
	margin-top: -5rem;
	background: #eee;
	border-radius: 1rem;
	-webkit-box-shadow: 0 0.5rem rgba(17,17,17,0.3);
	box-shadow: 0 0.5rem rgba(17, 17, 17, 0.3);
	padding: 3rem 2rem;
}

.book-form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.book-form form .inputBox {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 25rem;
	flex: 1 1 25rem;
}

.book-form form .inputBox span {
	font-size: 1.4rem;
	color: #3d3d3d;
}

.book-form form .inputBox input {
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: 5rem;
	border: 0.2rem solid var(--second-main-color);
	font-size: 1.6rem;
	text-transform: capitalize;
	background: none;
	margin-top: 1rem;
}

.book-form form .inputBox a {
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: 5rem;
	border: 0.2rem solid var(--second-main-color);
	font-size: 1.6rem;
	text-transform: capitalize;
	background: none;
	margin-top: 1rem;
}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 4rem;
	margin-top: 5rem;
}

.about .video-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
}

.about .video-container video {
	border-radius: 1rem;
	width: 100%;
}

.about .content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
	margin-bottom: 5rem;

}

.about .content span {
	color: var(--second-main-color);
	font-size: 2.5rem;
}

.about .content h3 {
	color: #000;
	font-size: 3rem;
	margin-top: .5rem;
}

.about .content p {
	padding: 1rem 0;
	font-size: 1.4rem;
	color: #3d3d3d;
	line-height: 2;
}

.about .controls {
	text-align: center;
	padding: .1rem 0;
}

.about .controls span {
	display: inline-block;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background: black;
	margin: .7rem;
}

.about .controls span:hover {
	background: var(--second-main-color);
}

.destination .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-template-column: (minmax(26rem, 1fr))auto[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap: 1.5rem;
}

.destination .box-container .box {
	border-radius: 1rem;
	overflow: hidden;
	background: rgba(255, 255, 255,.1);
	box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.destination .box-container .box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.destination .box-container .box .image {
	height: 20rem;
	overflow: hidden;
	width: 100%;
}

.destination .box-container .box .image img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.destination .box-container .box .content {
	padding: 2rem;
	color: #000;
	text-align: center;
}

.destination .box-container .box .content p {
	font-size: 1.2rem;
	padding: 1rem 0;
	color: #3d3d3d;
	line-height: 2;
	text-align: center;
}

.destination .box-container .box .content h4 {
	font-size: 18px;
}

.destination .box-container .box .content a {
	font-size: 1.7rem;
	color: var(--second-main-color);
	text-align: center;
}

.destination .box-container .box .content a:hover i {
	padding-left: 1rem;
}

.destination .box-container .box .content a i {
	padding-right: .5rem;
}

.feedback {
	padding: 40px;
	position: relative;
}

.feedback .container {
	border-radius: 15px;
	padding: 5px;
	align-items: center;
	width: 900px;
}

.feedback .swiper-pagination-bullet {
	height: 7px;
	width: 26px;
	background: #0ef;
	border-radius: 25px;
}

.feedback .swiper-button-next,
.feedback .swiper-button-prev{
	color: #0ef;
	padding-top: 65px;
	padding-left: 200px;
	padding-right: 200px;
}

.card .image {
	width: 140px;
	height: 140px;
	border-radius: 15px;
}

.card .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
	border: 3px solid #fff;
}

.card {
	position: relative;
	background: #fff;
	border: 3px solid #0ef;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
	border-radius: 15px;
}

.card::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0ef;
	clip-path: circle(55% at 0 0);
	border-top-left-radius: 10px;
}

.card .card-content {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.card .content {
	padding: .1rem;
	color: #000;
	text-align: center;
}

.card .content p {
	padding: .2rem 0;
	color: #3d3d3d;
	line-height: 1;
	text-align: center;
}

.card .social-media {
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .social-media i {
	color: var(--bg-color);
	margin-top: 10px;
	cursor: pointer;
	font-size: 18px;
	transition: .3s;
}

.card .social-media i:hover {
	color: #0ef;
}

.card .name-profession {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
	color: var(--bg-color);
}

.name-profession .name {
	font-size: 20px;
	font-weight: 600;
}

.name-profession .profession {
	font-size: 1.3rem;
	text-align: center;
	font-weight: 500;
} 

.card .rating {
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.card .rating i {
	font-size: 18px;
	color: gold;
	margin: 0 2px;
}

.card .button {
	display: flex;
	justify-content: space-around;
	width: 110%;
	margin-top: 20px;
}

.card .button button {
	background: var(--second-main-color);
	border: none;
	outline: none;
	color: #fff;
	font-weight: 600;
	padding: 8px 22px;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
	transition: .3s;
}

.card .button button:hover {
	background: #00abf0;
}

.gallery .box-container {
	-webkit-columns: 3 25rem;
	columns: 3 25rem;
	-webkit-column-gap: 1.5rem;
	column-gap: 1.5rem;
}

.gallery .box-container .box {
	margin-bottom: 1rem;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

.gallery .box-container .box img {
	width: 100%;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.gallery .box-container .box span {
	font-size: 1.4rem;
	color: #3d3d3d;
}

.gallery .box-container .box h3 {
	margin-top: .5rem;
	font-size: 2rem;
	color: #000;
}

.review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 4rem;
}

.review .content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
}

.review .content span {
	font-size: 2rem;
	color: var(--second-main-color);
}

.review .content h3 {
	font-size: 3rem;
	color: #000;
}

.review .content h2 {
	color: var(--second-bg-color);
}

.review .content p {
	font-size: 1.4rem;
	color: #3d3d3d;
	padding: 1rem 0;
	line-height: 2;
	letter-spacing: 1px;
}

.review .box-container {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 42rem;
	flex: 1 1 42rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.review .box-container .box {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 20rem;
	flex: 1 1 20rem;
	border-radius: 1rem;
	padding-bottom: 2rem;
	padding: 1rem;
	background: #fff;
	box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.review .box-container .box p {
	font-size: 1.4rem;
	padding-bottom: 1rem;
	line-height: 2;
	color: #3d3d3d;
}

.review .box-container .box .user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
}

.review .box-container .box .user img {
	height: 5rem;
	width: 5rem;
	border-radius: 5rem;
}

.review .box-container .box .user h3 {
	font-size: 1.5rem;
	color: #000;
}

.review .box-container .box .user p {
	font-size: 1.5rem;
	color: #3d3d3d;
}

.review .box-container .box .user span {
	font-size: 1.2rem;
	color: var(--second-main-color);
}

.banner {
	background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url('astitik.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3rem 2rem;
	background-attachment: fixed;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.banner .content span {
	font-size: 2rem;
	color: var(--second-main-color);
}

.banner .content h3 {
	font-size: 4rem;
	color: #fff;
	margin-top: 1rem;
}

.banner .content p {
	max-width: 60rem;
	margin: 1rem auto;
	font-size: 1.4rem;
	color: #f8f9fc;
	letter-spacing: 1px;
	line-height: 2;
}

.blogs .box-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-template-column: (minmax(32rem, 1fr))[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	gap: 1.5rem;
	margin-bottom: 5rem;
}

.blogs .box-container .box {
	border-radius: 1rem;
	background: #fff;
	box-shadow: rgba(17 17 17 / 15%) 0 0.5rem 1rem;
	overflow: hidden;
}

.blogs .box-container .box:hover .image video {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.blogs .box-container .box:hover .image img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.blogs .box-container .box .image {
	height: 25rem;
	overflow: hidden;
	width: 100%;
}

.blogs .box-container .box .image video {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.blogs .box-container .box .image img {
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.blogs .box-container .box .content {
	padding: 2rem;
}

.blogs .box-container .box .content .link {
	font-size: 2rem;
	color: #000;
}

.blogs .box-container .box .content .link:hover {
	color: var(--second-main-color);
}

.blogs .box-container .box .content p {
	padding: 1rem 0;
	font-size: 1.4rem;
	color: #3d3d3d;
	line-height: 2;
}

.blogs .box-container .box .content .icon {
	padding-top: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
	font-size: 1.4rem;
	color: #3d3d3d;
}

.blogs .box-container .box .content .icon a:hover {
	color: var(--second-main-color);
}

.blogs .box-container .box .content .icon a i {
	padding-right: .5rem;
	color: var(--second-main-color);
}

.footer {
	background: #fff;
	box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.footer .box-container {
	display: -ms-grid;
	display: grid;
	display: flex;
	-ms-grid-template-column: (minmax(25rem, 1fr))[auto-fit];
	grid-template-columns: repeat(auto-fit, minmax(25rem 1fr));
    gap: 7rem;
	display: inline-flex;
}

.footer .box-container .box {
	padding: 1rem 0;
}

.footer .box-container .box .logo {
	padding: 1rem;
}

.footer .box-container .box h3 {
	font-size: 1.7rem;
	color: #000;
	padding: .4rem 0;
}

.footer .box-container .box h2 {
	font-size: 1.3rem;
	color: #3d3d3d;
	padding: .4rem 0;
}

.footer .box-container .box p {
	font-size: 1.4rem;
	color: #3d3d3d;
	padding: 1rem 0;
	cursor: pointer;
	line-height: 1;
}

.footer .box-container .box p i {
	padding-right: .5rem;
	color: var(--second-main-color);
	transition: .2s;
}

.footer .box-container .box p:hover {
	transform: translateX(10px);
}

.footer .box-container .box .share {
	padding-top: .1rem;
}

.footer .box-container .box .share a {
	height: 4rem;
	width: 4rem;
	line-height: 3.8rem;
	font-size: 2rem;
	border-radius: 50%;
	font-size: 1.7rem;
	border: 0.2rem solid var(--second-main-color);
	color: var(--second-main-color);
	margin-right: 1.7rem;
	margin-top: 1.3rem;
	text-align: center;
}

.footer .box-container .box .share a:hover {
	background: var(--second-main-color);
	color: #f8f9fc;
}

.footer .box-container .box form .email {
	width: 80%;
	border-radius: 5rem;
	border: 0.2rem solid var(--second-main-color);
	background: none;
	font-size: 1.5rem;
	text-transform: capitalize;
	color: #3d3d3d;
	margin-bottom: 1rem;
	padding: 1.2rem 1.4rem;
}

.credit {
	background: #242424;
	box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
	text-align: center;
	font-size: 2rem;
	padding: 2rem 1rem;
	color: #f8f9fc;
}

.credit span {
	color: var(--second-main-color);
}

